<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ConsumerServlet</servlet-name>
        <servlet-class>com.ubc.servlet.ConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtectedServlet</servlet-name>
        <servlet-class>ProtectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtServlet</servlet-name>
        <servlet-class>com.ubc.servlet.ProtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsumerServlet</servlet-name>
        <url-pattern>/ConsumerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtectedServlet</servlet-name>
        <url-pattern>/ProtectedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtServlet</servlet-name>
        <url-pattern>/ProtServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
